<script src="https://cdn.jsdelivr.net/npm/flexsearch@0.7.21/dist/flexsearch.bundle.js"></script>
<script>
window.__searchConfig = {
  buildDate: {{ meta.buildDate | isoDate | dump }},
  searchNotStarted: {{ meta.uiStrings.searchNotStarted | dump }},
  searchNoResults: {{ meta.uiStrings.searchNoResults | dump }}
};
</script>
<script defer src="/scripts/search.js"></script>
